.task{
    font-weight: bold;
    margin-left: 176px;
    margin-top: 74px;
    font-family: system-ui;
    font-size: 3.2em;
}

.text1{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    margin-top: -112px;
    margin-left: 291px;
    font-size: 46px;
}

.icon{
    /* content: "\f055"; */
    margin-left: 852px;
    margin-top: -97px;
    font-size: 30px;
    color: orangered;
}

.add{
    margin-top: -39px;
    margin-left: 897px;
    font-weight: 100;
    font-size: 28px;
    font-family: system-ui;
}

.cards{
    border: 1px solid crimson;
    width: 180px;
    height: 265px;
    border-radius: 10px;
    font-size: 23px;
    text-align: center;
    color: red;
    font-family: 'Heebo', 'sans-serif';
    box-shadow: 3px 3px 5px gray;

}

.bottom_border{
    border-bottom: 1px solid lightgray;
    width: 152px;
    position: relative;
    left: 29px;
    top: -17px;
}

.bottom_border1{
    border-bottom: 2px solid red;
    width: 135px;
    margin-left: 27px;
    margin-top: -11px;
}

.container{
    margin-top: 78px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.pending{
    color: black;
    font-size: 18px;
    font-weight: 800;
    margin-top: -29px;
    margin-left: 5px;
}

.check{
    margin-top: 31px;
    margin-left: -128px;
}

.line_task{
    font-family: initial;
    font-weight: bold;
    color: red;
    font-size: 19px;
    margin-left: 22px;
}


@media screen and (max-width:360px) {
    .container{
        flex-direction: column;
        width: 600px;
        height: auto;
        justify-content: space-evenly;
    }

    .cards{
        margin-left: 148px;
    width: 614px;
    height: 164px;
    margin-bottom: 52px;
    color: darkgray;
    width: 614px;
    height: 164px;
    font-size: 53px;
    font-weight: bold;
    box-shadow: 16px 16px 10px lightgray;

    }

    .pending{
        display: none;
    }

    .check{
        display: none;
    }

    .bottom_border{
        display: none;
    }

    .bottom_border1{
        display: none;
    }

    .line_task{
        display: none;
    }

    .add{
        display: none;
    }

    .task{
        font-size: 90px;
        position: relative;
        top: 37px;
        left: -50px;
    }

    .text1{
        position: relative;
        top: 33px;
        margin-top: -188px;
        left: 33px;
        font-size: 76px;
    }
}