.one{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    left: 583px;
    top: 50px;
}

.two{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    left: 692px;
    top: 50px;
}

.three{
    font-size: 50px;
    position: absolute;
    left: 751px;
    font-weight: bold;
    top: 50px;
}

.icon{
    position: absolute;
    top: 106px;
    font-size: 44px;
    color: orangered;
    left: 516px;
}

.cards{
    position: absolute;
    border: 1px solid crimson;
    width: 195px;
    height: 279px;
    border-radius: 10px;
    font-size: 23px;
    text-align: center;
    color: red;
    font-family: 'Heebo', 'sans-serif';
    box-shadow: 3px 3px 5px grey;
    top: 189px;
    left: 616px;
}

.fa-plus-circle{
    position: absolute;
    right: 20px;
    bottom: 24px;
    font-size: 32px;
}

.bottom_border{
    border-bottom: 1px solid lightgray;
    width: 152px;
    position: relative;
    left: 29px;
    top: -17px;
}

.bottom_border1{
    border-bottom: 2px solid red;
    width: 135px;
    margin-left: 27px;
    margin-top: -11px;
}

.pending{
    color: black;
    font-size: 18px;
    font-weight: 100;
    margin-top: -23px;
    margin-left: 5px;
}

.check{
    margin-top: 31px;
    margin-left: -128px;
}

.line_task{
    font-family: initial;
    font-weight: bold;
    color: red;
    font-size: 19px;
    margin-left: 22px;
}

@media screen and (min-width:360px) and (max-width:600px) {
    .one{
        font-size: 88px;
        left: 157px;
    }

    .two{
        font-size: 88px;
        left: 334px;
    }

    .three{
        font-size: 88px;
        left: 424px;
    }

    .icon{
        font-size: 88px;
        left: 45px;
        top: 147px;
    }

    .cards{
        height: 354px;
        top: 280px;
        left: 188px;
        width: 300px;
    }

    .bottom_border{
        border-bottom: 1px solid black;
    width: 234px;
    left: 67px;
    top: -22px;
    }

    .bottom_border1{
        width: 223px;
        position: absolute;
        right: 40px;
        top: 164px;
    }

    .trip{
        font-size: 37px;
    }

    .check{
        left: -22px;
        width: 25px;
        height: 58px;
        /* font-size: 71px; */
        position: relative;
    }
    
    .pending{
        top: -29px;
        position: relative;
        font-size: 29px;
        left: 12px;
    }
    .line_task{
        font-size: 32px;
        top: 18px;
        position: relative;
    }
}